#hashtags {
    max-width: 29.5%;
    width: 100%;
    margin-top: 14px;
    height: 300px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.hash a {
    text-decoration: none;
    color: black;
}
.hash a:hover {
    color: blue;
}
.hash p,h2 {
    padding: 14px;
}