* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
body {
    background-color: #f2eeee;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: white;
    height: 60px;
}
header img {
    width: 50px;
    height: 40px;
}
.dev:hover {
    cursor: pointer;
}
img:hover {
    cursor: pointer;
}
#search {
    font-size: 17px;
    padding: 6px;
}
#btn3 {
    background-color: white;
}
#bt3:hover {
    background-color: rgba(0, 26, 255,0.1);
}
.btn1 {
    border-color: blue;
    color: blue;
    width: 130px;
    border-radius: 8px;
    background-color: white;
}
.btn1:hover {
    background-color: blue;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.btn2 {
    border: none;
    background-color: white;
    width: 70px;
    border-radius: 8px;
}
.btn2:hover {
    background-color: rgba(0, 26, 255,0.1);
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.button {
    display: flex;
    gap: 1.5rem;
    height: 40px;
}
a {
    height: 40px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
label {
    display: flex;
    gap: 0;
}
label button {
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
label input {
    border-right: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 400px;
}
main {
    margin-left: 14%;
    max-width: 72%;
    width: 100%;
    display: flex;
}
#apps {
    max-width: 22.5%;
    width: 100%;
}
#contents {
    max-width: 48%;
    width: 100%;
}
#hashtags {
    max-width: 29.5%;
    width: 100%;
}
.community {
    margin: 10px;
    padding: 20px;
    height: 400px;
    border-radius: 8px;
    background-color: white;
}
.community p {
    padding-top: 1rem;
}
.community button {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.btn4 {
    border-color: blue;
    color: blue;
    width: 100%;
    border-radius: 8px;
    background-color: white;
}
.btn4:hover {
    background-color: blue;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.btn5 {
    border: none;
    background-color: white;
    width: 100%;
    border-radius: 8px;
}
.btn5:hover {
    background-color: rgba(0, 26, 255,0.1);
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.content-header {
    display: inline;
    background-color: #f2eeee;
    margin-left: 9px;
}
.content-header button {
    margin-top: 13px;
    height: 40px;
    border: none;
    width: 80px;
    border-radius: 8px;
}
.content-header button:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}
#hashtags {
    margin-top: 14px;
    height: 300px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.hash a {
    text-decoration: none;
    color: black;
}
.hash a:hover {
    color: blue;
}
.hash p,h2 {
    padding: 14px;
}
.posts-section {
    margin-left: 1.5rem;
    width: 530px;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.articles-title {
    color: #444444;
}
  
  a.articles-title:hover {
    color: #428bca;
    text-decoration: none;
}
  
  .articles-content {
    white-space: pre-line;
}


.articles-title {
    color: #444444;
  }
  
  a.articles-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .articles-data {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .articles-data a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }