{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg" sizes="32x32" href="{% static 'logo-dev-rounded.svg' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DEV Community</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <header>
            <div class="logo">
                <img class="dev" src="{% static 'logo-dev-rounded.svg' %}" alt="dev logo" />
                <label for="search" onclick="mean()">
                    <input id="search" class="search" type="text" value="" placeholder="Search..." />
                    <button id="btn3" class="search"><img class="img" alt="search" src="{% static 'search-fill.svg' %}"></button>
                </label>
            </div>
            <div class="button">
                <button class="btn2">Log in</button>
                <button class="btn1">Create account</button>
            </div>
        </header>
        <main>
            <div id="apps">
                <div class="community">
                    <h2>DEV Community is a community of 1,188,188 amazing developers</h2>
                    <p>We're a place where coders share, stay up-to-date and grow their careers.</p>
                    <button class="btn4">Create account</button>
                    <button class="btn5">Log in</button>
                </div>
            </div>
            <div id="contents">
                <header class="content-header">
                    <button>Relevant</button>
                    <button>Latest</button>
                    <button>Top</button>
                </header>
                {% block content %}{% endblock %}
            </div>
            <div id="hashtags">
                <div class="hash">
                    <h2><a href="#">#discuss</a></h2>
                    <hr>
                    <p><a href="#">Javascript Proxy Magic: How I built a 2kB state manager with zero dependencies (and how it got me two different job offers)</a></p>
                    <p><a href="#">comments</a></p>
                    <hr>
                </div>
            </div>
        </main>
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>