{% extends 'base.html'%}
{% load static %}
{% block content %}
    {% for post in posts %}
        <article class="posts-section">
            <div class="posts-body">
                <div class="artices-data">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
            <h2><a class="articles-title" href="#">{{ post.title }}</a></h2>
            <p class="articles-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock %}